<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='login.css')}}">
</head>
<body>
<h1>LOGIN PAGE</h1>
{% if message %}
  <script>
    alert("{{ message }}");
  </script>
  {% endif %}
<form action="/login" method="post">

  <label for="username">Username:</label>
  <input type="text" id="username" name="username" placeholder="Username" required autofocus><br>

  <label for="password">Password:</label>
  <input type="password" id="password" name="password" placeholder="Password" minlength="6" required><br>

  <button type="submit">Login</button>
  </form>

<a href="/register">New User?</a>
<a href="/officer-login">Login as Officer</a>

</body>
</html>
