<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Officer Login</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='login.css')}}">
</head>
<body>
<h1>LOGIN</h1>
<form action="officer-dashboard.html" method="post">
  <label for="officer-username">Officer ID:</label>
  <input type="text" id="officer-username" name="officer-username" required>

  <label for="officer-password">Password:</label>
  <input type="password" id="officer-password" name="officer-password" minlength="8" required>

  <button type="submit">Login as Officer</button>
</form>

<a href="login.html">Login as user</a>
<a href="officer-register.html">New officer?</a>
</body>
</html>
